body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    color: #333; /* Set a color for better contrast */
}

header {
    background-color: #f2f2f2; /* Add background color for header */
    padding: 10px;
}

main {
    margin-top: 20px; /* Add some space between header and main content */
}

img {
    border-radius: 50%;
    margin-top: 10px;
    display: block; /* Make the img a block-level element */
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 20px; /* Add space between main content and footer */
    background-color: #f2f2f2; /* Add background color for footer */
    padding: 10px;
}

a {
    text-decoration: underline; /* Underline links */
    font-weight: bold; /* Bolden links */
}
